.container {
  background-color: white;
  opacity: 50%;
  border-radius: 5px 5px;
  padding: 10px;
  margin-top: 20px;
}

body {
  background-image: url("../img/background.jpg");
}

h2 {
  font-family: 'Sniglet', cursive;
  font-size: 45px;
}

body {
  font-family: 'Raleway', sans-serif;
}

#new-item {
  height: 50px;
  resize:vertical;
}
